.flex {
	display: flex;
}
// 水平 中 中
.XcenterYcenter {
	justify-content: center;
	align-items: center;
}
// 水平 左右 中
.XspaceBYcenter {
	justify-content: space-between;
	align-items: center;
}
// 水平 左 中
.XleftYcenter {
	justify-content: flex-start;
	align-items: center;
}
// 水平 右 中
.XrightYcenter {
	justify-content: flex-end;
	align-items: center;
}
// 水平 中 上
// 水平 中 下

// 水平 左 上
// 水平 左 下
// 水平 右 中
// 水平 右 上
// 水平 右 下

// 垂直 中 中
.YcenterXcenter {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
// 垂直  上 中
.YtopXcenter {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
// 公共样式
.text_hide {
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.p_hide{position: relative; line-height: 20px; max-height: 40px;overflow: hidden;}
.p_hide::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
// background: -webkit-linear-gradient(left, transparent, #fff 55%);
// background: -o-linear-gradient(right, transparent, #fff 55%);
// background: -moz-linear-gradient(right, transparent, #fff 55%);
// background: linear-gradient(to right, transparent, #fff 55%);
}
// elment组件
// 底部栏左侧
.el-popover {
		background: none!important;
	}
.popper-lowerMenu{
	left: 0!important;
	padding: 0!important;
	box-shadow:none!important;
	border: none!important;
	margin-bottom: 0!important;
}
// 底部栏右侧
// .popper-lowerDate{
// 	right: 0px!important;
// 	padding: 0!important;
// 	box-shadow:none!important;
// 	border: none!important;
// 	margin-bottom: 0!important;
// }
.popper-lowerMenu-userSelect {
	padding: 0!important;
	box-shadow:none!important;
	border: none!important;
	margin-bottom: 0!important;
}
.wui-icon:hover {
	background-color: rgba(255, 255, 255, 0.15) !important;
}
// 浏览器
.el-tabs__header {
	padding-right: 10px!important;
	background: #cccccc29;
	.el-icon-plus {
		color: #3a8ee6;;
	}
}
.el-tabs__new-tab {
	border: 1px solid #3a8ee6;
}
.el-tabs--border-card {
	height: 100%;
}
.el-tabs__content {
	padding: 0!important;
	margin: 0;
	width: 100%;
	height: calc(100% - 40px);
}
.el-tab-pane {
	height: 100%;
}

// 我的电脑文件提示框
.el-tooltip__popper {
	padding: 3px!important;
}
// loading
.el-loading-mask {
	background-color: #fdfdfd00 !important;
}
//修改loading加载时的颜色
    .el-loading-spinner .path{
      stroke: #1cc8c0!important;
    }
	.el-loading-text {
		color: #1cc8c0!important;
	}
// 弹窗
.v-modal {
	z-index: 0!important;
	background:none!important;
}

// 代码编辑样式
.CodeMirror{
	flex-grow: 1;
	z-index: 1;
	  .CodeMirror-code{
	  	  line-height: 19px;
	    }
	  .code-mode-select{
	  	position: absolute;
	  	z-index: 2;
	  	right: 10px;
	  	top: 10px;
	  	max-width: 130px;
	  }
}
      
      